body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

#search, #new-sigla, #new-definicion, #new-unidad {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 22px);
}

button {
    padding: 10px;
    margin: 5px;
}

#siglas-container {
    margin-top: 20px;
}

.sigla {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
